body {
  font-family: "Raleway", sans-serif;
}

#Resumen {
  background-image: url(/assets/imgs/bg-resumen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: left;
}
#foto {
  width: 190px;
}
#Educacion {
  background-image: url(/assets/imgs/bg-educacion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: left;
}
#Experiencia {
  background-color: cadetblue;
}
#portafolio {
  background-image: url(/assets/imgs/bg-portafolio.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-position: left;
}
#contenido {
  display: flex;
}
.bg-transparent {
  background-image: url(/assets/imgs/bg-resumen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: left;
}
