body {
    font-family: "Raleway", sans-serif;
  }

#Resumen {
    display: flex;
    background-image: url(/assets/imgs/bg-resumen.jpg);
    background-repeat: no-repeat;
    background-position:center;
}
#foto {
    width: 200px;
}
#Educacion {
    background-image: url(/assets/imgs/bg-educacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
